.header {
    background: #1A2537;
    height: 120px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 2px 8px rgb(11, 11, 75);
    z-index: 1;
}

.header__img {
    width: 120px;
    z-index: 2;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    gap: 60px;
}

.header__link {
    font-family: "Montserrat";
    color: aliceblue;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    display: inline-block;
    transition: color 0.4s ease;
    text-transform: uppercase;

}

.header__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #18c25c;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.header__link:hover {
    color: #18c25c;
}

.header__link:hover::after {
    width: 100%;
}

.lang-switch {
    display: flex;
    gap: 5px;
}

.lang-btn {
    background: transparent;
    border: 1px solid #18c25c;
    color: aliceblue;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.lang-btn.active {
    background: #18c25c;
    color: #1A2537;
}

.burger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger span {
    height: 4px;
    width: 100%;
    background: #18c25c;
    border-radius: 2px;
}

@media(max-width: 768px) {

    .header__container {
        position: relative;
    }

    .burger {
        display: flex;
        z-index: 1000;
    }

    .header__list {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background: #1A2537;
        width: 220px;
        padding: 20px;
        flex-direction: column;
        gap: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }

    .lang-switch {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        background: #1A2537;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    }

    .header__list.active,
    .lang-switch.active {
        display: flex;
    }
}