.sidebar {
    width: 250px;
    background-color: #1A2537;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    font-family: "Montserrat", sans-serif;
    border-right: 2px solid #18c25c;
    margin-top: 120px;
}

.sidebar__section {
    margin-bottom: 50px;
}

.sidebar__title {
    font-size: 16px;
    font-weight: 700;
    color: #18c25c;
    border-bottom: 1px solid #18c25c;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.sidebar__link {
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    font-family: "Montserrat";
    transition: 0.3s;
}

.sidebar__link:hover {
    color: #18c25c;
    padding-left: 10px;
}

.sidebar__item {
    margin: 25px 0
}

@media screen and (max-width: 992px) {
    .sidebar {
        width: 200px;
        padding: 15px;
        margin-top: 120px;
    }

    .sidebar__link {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 0;
        border-right: none;
        border-bottom: 2px solid #18c25c;
        margin-top: 120px;
    }

    main {
        margin-left: 0;
        padding: 20px;
    }
}

@media screen and (max-width: 576px) {
    .sidebar__link {
        font-size: 16px;
    }

    .sidebar__item {
        margin: 15px 0;
    }
}